{
    "parserOptions": {
        "ecmaVersion": 6,
        "impliedStrict": true
    },
    "plugins": [
        "prettier"
    ],
    "rules": {
        "prettier/prettier": "error",
        "curly": ["error", "all"]
    }
}
